<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="SmartCardRemoval" Language="1033" Version="1.0.0.0" Manufacturer="RIA" UpgradeCode="e1b3bad0-18a5-4b13-a237-38ea02a2ff75">
		<Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" />
		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" CompressionLevel="high" />
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="SmartCardRemoval">
          <Component Id="ProductComponent">
            <File Source="$(var.SmartCardRemoval.TargetPath)" KeyPath="yes" />
            <ServiceInstall Id="SmartCardRemovalService" Name="SmartCardRemoval" Type="ownProcess" Start="auto" ErrorControl="ignore"
                DisplayName="SmartCardRemoval" Description="SmartCardRemoval Service" Account="LocalSystem" Interactive="no" Vital="yes">
              <ServiceDependency Id="RpcSs" />
            </ServiceInstall>
            <AppId Id="{DEAE87CA-A84D-4F75-BC47-721D7F0F7848}" LocalService="SmartCardRemoval" />
            <ServiceControl Id="SmartCardRemovalService" Name="SmartCardRemoval" Start="install" Stop="both" Remove="uninstall" Wait="no" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="ProductFeature" Title="SmartCardRemoval" Level="1">
			<ComponentRef Id="ProductComponent" />
		</Feature>
	</Product>
</Wix>
